* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

html {
    height: 275%;
    padding-bottom: 20px;
    background-color: #151515;
}

.Header a {
    float: left;
    color: #ddd;
    background-color: #222227;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.Header a:hover {
    background-color: #ddd;
    color:#222227
}

hr {
    height: 1px;
    width: 100%;
    background-color: #151515;
    border: none;
}

.Container {
    float: left;
    border: 2px solid #ddd;
    background-color: #167e56;
    width: 30vw;
    height: 80vh;
    padding: 5px;
    margin: 2vh 1.5vw;
    text-align: center;
    overflow-y: scroll;
}

.data-display, #submit{
    width: 40%;
    display: inline-block;
    background: #222227;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #ddd;
    font-size: 20px;
    margin: 2px 5px;
}

.Container::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

select {
    background-color: #222227;
    color: #ddd;
    border: 2px solid #ddd;
    border-radius: 5px;
}

label {
    color: #222227;
    font-weight: bold;
}

Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222227;
    color: white;
}