body {
    height: 98vh;
}

#char-list {
    display: inline-block;
    height: 94vh;
    width: 15vw;
}

#char-list ul {
    padding: 2px;
    height: 47vh;
    overflow-y: scroll;
}

#char-list ul li {
    margin: 2px;
    border: 1px solid #ddd;
    color: white;
}

#char-list ul li:hover {
    color: #222227;
    background-color: #ddd;
}

.survivor {
    background-color: #167e56;
}

.killer {
    background-color: #5e1914;
}

.hidden {
    display: none;
}

.inventory {
    border-left: 1px solid white;
    width: 85vw;
    height: 94vh;
    float: right;
    overflow-y: scroll;
}

h1 {
    width: 100%;
}

#char-list ul::-webkit-scrollbar, .inventory::-webkit-scrollbar {
    display: none;
}

.add-ons {
    color: white;
    width: 100%;
    height: 47vh;
}

.offerings {
    color: white;
    width: 100%;
    height: 47vh;
}

input {
    width: 75%;
}

.itemGroup {
    height: 8vh;
    width: 8vw;
    padding: 2px 10px;
    margin: 5px;
    display: inline-flex;
}

.images {
    height:7.5vh;
    width: 81.32px;
    position: relative;
}

.baby {
    padding: 1px 20px;
    height: 100%;
    width: 30%;
    text-align: center;
}
/*---images---*/
.colour {
    width: 81.32px;
    opacity: 60%;
}

.icon {
    height:7.5vh;
    position: absolute;
    top: 0;
    left: 0;
}
/*---baby---*/
.quantity {
    color: white;
    padding: 0vh .75vw;
}

.plusNum,.subNum {
    height: 25px;
    width: 2vw;
}

button {
    color: #ddd;
    text-decoration: none;
    background-color: #222227;
    border: 2px solid #ddd;
    font-family: inherit;
    font-size: 17px;
    cursor: pointer;
    margin: 3px 0px;
    width: 20%;
    height: 8vh;
}

button:hover {
    color: #222227;
    background-color: #ddd;
}
/*-------*/