* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
    /* border: 1px #777 solid; */
} 

html {
    height: 100vh;
    background-color: #151515;
    scrollbar-width: none;
}

.Header {
    height: 4.5vh;
}

.Header a {
    float: left;
    color: white;
    background-color: #222227;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.Header a:hover {
    background-color: #ddd;
    color:#222227
}

hr {
    height: 1px;
    width: 100vw;
    background-color: #151515;
    border: none;
}

Footer {
    position: fixed;
    height: 2vh;
    width: 100vw;
    text-align: center;
    background-color: #222227;
    color: white;
}

.clicked {
    color: #167e56;
}