.display {
    width: 100vw;
    height: 93.5vh;
    overflow-y: scroll;
}

.display::-webkit-scrollbar {
    display: none; 
}

.gallery {
    background-color: #222227;
    display: inline-block;
    height: 35vh;
    margin: 2px;
}

.gallery img{
    opacity: 0.9;
    display: block;
    margin: auto;
    padding: 5px 5px;
    height: 90%;
}

.gallery img:hover{
    opacity: 1;
}

.desc p{
    color: white;
    width: 100%;
    text-align: center;
}

